<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <input type="text" [(ngModel)]="filterStatus">
      <hr>
      <button class="btn btn-primary mb-3" (click)="onAddServer()">Add Server</button>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filterStatus : 'status'"
          [ngClass]="getStatusClasses(server)">
          <strong>{{ server.name | shorten: 12}}</strong> | 
            {{ server.instanceType | uppercase }} | 
            {{ server.started | date: "fullDate" | uppercase }}
          <span
            class="badge badge-secondary">
            {{ server.status }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>