<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <p>Add new Servers or Blueprints!</p>
      <label for="serverName">Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label for="serverContent">Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <button class="btn btn-primary mt-3" (click)="onAddServer()">Add Server</button>
      <button class="btn btn-primary mt-3" (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <div *ngFor="let server of servers" class="card my-2">
        <div class="card-header">
          {{ server.name }}
        </div>
        <div class="card-body">
          <p>
            <b *ngIf="server.type === 'server'" style="color: red" class="card-text">{{ server.content }}</b>
            <i *ngIf="server.type === 'blueprint'" class="card-text">{{ server.content }}</i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

