<div class="row">
  <div class="col-12">
    <form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-5 form-group">
          <label for="name">Name</label>
          <input 
            type="text" 
            class="form-control" 
            id="name" 
            ngModel 
            name="name"
            required>
        </div>
        <div class="col-2 form-group">
          <label for="amount">Amount</label>
          <input 
            type="number" 
            class="form-control" 
            id="amount" 
            ngModel 
            name="amount"
            required
            pattern="^[1-9]\d*$">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button 
            type="submit" 
            class="btn btn-success" 
            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
          <button 
            type="button" 
            class="btn btn-danger"
            (click)="onDelete()"
            *ngIf="editMode">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
